# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\guiso\Documents\TEC\II Semestre 2020\ALGORITMOS Y ESTRUCTURA DE DATOS I\Proyectos\Build-A-Tree-\.idea/dataSources/
/dataSources.local.xml
# Zeppelin ignored files
/ZeppelinRemoteNotebooks/
# Editor-based HTTP Client requests
/httpRequests/
